<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.5/phpunit.xsd" bootstrap="./tests/bootstrap.php" colors="true" cacheDirectory=".phpunit.cache" requireCoverageMetadata="true">
  <coverage>
    <report>
      <clover outputFile="./coverage/clover.xml"/>
      <text outputFile="php://stdout"/>
      <xml outputDirectory="./coverage/xml"/>
    </report>
  </coverage>
  <testsuites>
    <testsuite name="Unit">
      <directory>./tests</directory>
    </testsuite>
  </testsuites>
  <php>
    <env name="SMS_PILOT_API_KEY" value="apikey_for_test_XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX"/>
    <env name="SMS_PILOT_SENDER_NAME" value="TestsSenderName"/>
  </php>
  <source>
    <include>
      <directory suffix=".php">./src</directory>
    </include>
    <exclude>
      <directory>./vendor</directory>
    </exclude>
  </source>
</phpunit>
